<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="louPanImgDAO" class="com.ht.dao.impl.LouPanImgDAOimpl" autowire="byName"></bean>
	<bean id="louPanImgService" class="com.ht.service.impl.LouPanImgServiceimpl" autowire="byName"></bean>
	<bean id="louPanImgAction" class="com.ht.controller.LouPanImgAction" autowire="byName" scope="prototype"></bean>
</beans>