<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="pageDAO" class="com.ht.dao.impl.PageDAOimpl" autowire="byName"></bean>
	<bean id="pageService" class="com.ht.service.impl.PageServiceimpl" autowire="byName"></bean>
	<bean id="pageAction" class="com.ht.controller.PageAction" autowire="byName" scope="prototype"></bean>
</beans>