<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="louDongDAO" class="com.ht.dao.impl.LouDongDAOimpl" autowire="byName"></bean>
	<bean id="louDongService" class="com.ht.service.impl.LouDongServiceimpl" autowire="byName"></bean>
	<bean id="louDongAction" class="com.ht.controller.LouDongAction" autowire="byName" scope="prototype"></bean>
</beans>