<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="houseDAO" class="com.ht.dao.impl.HouseDAOimpl" autowire="byName"></bean>
	<bean id="houseService" class="com.ht.service.impl.HouseServiceimpl" autowire="byName"></bean>
	<bean id="houseAction" class="com.ht.controller.HouseAction" autowire="byName" scope="prototype"></bean>
</beans>