<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="messageDAO" class="com.ht.dao.impl.MessageDAOimpl" autowire="byName"></bean>
	<bean id="messageService" class="com.ht.service.impl.MessageServiceimpl" autowire="byName"></bean>
	<bean id="messageAction" class="com.ht.controller.MessageAction" autowire="byName" scope="prototype"></bean>
</beans>